html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: url("bg.jpg") fixed;
    background-size: cover;
    font-family: Helvetica, serif;
    font-weight: 100;
}

h1 {
    font-family: Helvetica, serif;
    font-weight: 500;
}

h3 {
    font: 1.4em Helvetica, serif;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #999999;
}

th {
    font-weight: 100;
    font-size: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #664438;
    color: white;
}

tr:hover {
    background-color:#DDDDDD;
}

hr {
    margin: 15px 0 15px 0;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.header-wrapper {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #664438;
    width: 100%;
    height: 100px;

}

.content-wrapper {

}

.order-row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.bestilling-wrapper {
    background-color: #b3d4fc;
    border: 2px outset;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    width: 28%;
    height: 40%;
    margin-left: 10%;
    margin-top: 2%;
}

.bestilling-wrapper ul {
    text-align: left;
    margin: auto;
    padding: 0;
}

.bestilling-wrapper ul li {
    list-style: none;
    display: block;
    padding: 10px;
    margin: 5px;
}

.endreKnapp {
    float: right;
}

.bold {
    font-weight: bold;
}


.content-shower {
    background-color: #87614f;
    border: 2px inset;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 90%;
    padding: 10px;
    margin-top: 2%;
    margin-left: 20px;
}

#andre-behov-wrapper {
    width: auto;
}

#andre-behov-wrapper .svartKnapp {
    width: 45%;
    margin: 10px 3px 3px 3px;
    font-size: 0.8em;
}

#overnatting-box-wrapper {
    width: 50%;
    margin-bottom: 25px;
}

#overnatting-box-wrapper ul {
    margin-left: 4%;
    width: 100%;
    padding: 0;
}

#overnatting-box-wrapper ul li {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.hyttelink {
    display: inline;
    cursor: pointer;
}

.hyttelink img {
    width: 30%;
    border: 1px solid #333333;
    border-radius: 2px;
}

#galleryBtn {
    margin-left: 35%;
}

#galleryBtn .svartKnapp {
    margin: 0px 0 8px 0;
    width: 93px;
}

.previousPicture {
    margin-left: 25%;
}

#slider {
    width: 80%;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-bottom: 10px;
    border: 1px solid #333333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#velgHytteKnapp {
    margin-left: 30%;
    float: left;
}

#avbrytOvernatting {
    float: left;
}

#amountOfPassengers {
    width: 20%;
    padding: 7px 7px 7px 7px;
    margin: 10px;
    font: 1em Helvetica, serif;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 100;
    cursor: pointer;
}

.svartKnapp {
    background-color: #333333;
    border-radius: 4px;
    width: 20%;
    font: 1em Helvetica, serif;
    margin: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.svartKnapp:hover {
    background-color: #cccccc;
    color: black;
}

.svartKnapp:active {
    background-color: #f2f2f2;
    color: black;
}

.reisendeKnapp {
    background-color: #333333;
    border-radius: 4px;
    font: 1.1em Helvetica, serif;
    font-weight: 100;
    letter-spacing: 1px;
    width: auto;
    height: 50px;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.reisendeKnapp:hover {
    background-color: #cccccc;
    color: black;
}

.reisendeKnapp:active {
    background-color: #f2f2f2;
    color: black;
}

.tSList {
    width: 45%;
    padding: 7px 7px 7px 7px;
    margin: 10px;
    font: 0.8em Helvetica, serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 100;
    background: url(http://2r3fd65rdnr4efnwp2y2f1xt.wpengine.netdna-cdn.com/wp-content/uploads/arrow-down-gray-hi.png) 98% / 6% no-repeat #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.reisendeTeller {
    margin: 10px;
}

input[type="date"] {
    padding: 5px;
    width:35%;
    font: 0.7em Helvetica, serif;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    min-height: 40px;
    font: 1.2em Helvetica, serif;
    font-weight: 100;
    letter-spacing: 1px;
    padding :5px 15px;
    background: #946351; /*#664438*/
    color: #fff;
    border: 1px solid #000;
    cursor:pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #b78b7b;
    font-size: 1.15em;
    text-shadow: 2px 2px #0000ff;
}

#inputDest {
    width: 100%;
    padding: 7px 7px 7px 7px;
    margin-bottom: 5px;
    font: 0.8em Helvetica, serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 100;
    background: url(http://2r3fd65rdnr4efnwp2y2f1xt.wpengine.netdna-cdn.com/wp-content/uploads/arrow-down-gray-hi.png) 98% / 6% no-repeat #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.kal-label {
    position: relative;
}

.kalender {
    position: relative;
    width: 20px;
    height: 20px;
    top: 6px;
    margin-right: 3%;
}

.logo {
    float: left;
    width: auto;
    height: 100px;
    opacity: 0.9;
}

.logo:hover {
    opacity: 1;
}

.nav ul {
    text-align: left;
    margin: auto;
    width: 100%;
}

.nav ul li {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

/* Dropdown Button */
.btn {
    background-color: rgba(0, 0, 0, 0);
    font: 1.1em Helvetica, serif;
    font-weight: 100;
    letter-spacing: 1px;
    width: auto;
    height: 100px;
    margin: auto;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 131px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: #95b7ea;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #b5cbf8}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .btn {
    /*background-color: #875d36;*/
    font-size: 17px;
    text-shadow: 2px 2px #0000ff;
}

footer p {
    text-indent: 3px;
    text-align: center;
    font: italic 9px verdana, serif;
    padding-bottom: 10px;
}

.disableWindow {
    pointer-events: none;
    opacity: 0.6;
}

.betaling, .infopanel{
    background-color: #b3d4fc;
    border: 2px outset;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 40%;
    margin: 35px auto 35px auto;
    padding: 0 30px 0 30px;
}

.infopanel p {

}

#kartOmOss {
    width: 600px;
    height: 450px;
    margin-left: 10%;
}

/*#teamet {
    position: relative;
    float: left;
    background-color: #b3d4fc;
    padding: 0;
    margin: 30px 0 30px 0;
    border: 2px outset;
    border-radius: 8px;
}*/
